/*
html{
    background:rgb(12, 43, 75);
    margin: 0;
    padding: 0;
}
body{
    background:rgb(12, 43, 75);
    margin: 0;
    padding: 0;
}
*/

#test {
bottom:0;
top: 0;
left:0;
right:0;
z-index: -2;
position: absolute;

}

#chart {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 0;
    margin:0;
    height: 100vh;
}

#chart li{
    color:  black;
    background-color: rgba(97, 116, 125, 0.7);
    text-align: center;
    font-size: small;
    font-weight: bold;
    flex-grow: 1;
}

